@if (projects.length > 0 || authService.isOwnerSignal()) {
  
<h1 class="text-3xl font-bold text-gradient-primary my-6 animate-fade animation-delay-2 text-center">Proyectos</h1>

@if (projects.length === 1) {
  <div class="w-full">
    @for (project of projects; track project.id; let i = $index) {
      <app-project-card-owner [project]="project" [animationDelay]="i * 100"></app-project-card-owner>
    }
  </div>
} @else if (projects.length > 1 && projects.length < 5) {
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-1">
    @for (project of projects; track project.id; let i = $index) {
      <app-project-card-owner [project]="project" [animationDelay]="i * 100"></app-project-card-owner>
    }
  </div>
} @else {
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-1">
    @for (project of projects; track project.id; let i = $index) {
      <app-project-card-owner [project]="project" [animationDelay]="i * 100"></app-project-card-owner>
    }
  </div>
}
  
  @if (authService.isOwnerSignal()) {
    <div class="flex justify-center md:justify-end flex-wrap items-center gap-4 mt-6 animate-fade animation-delay-4">
      @if (projects.length >= 1) {

      <a [routerLink]="['/', 'my-projects', authService.userSignal()?.githubusername]" 
      class="hover:bg-primary border-primary border text-primary hover:text-white py-2 px-6 rounded-full cursor-pointer transition-colors duration-300 font-medium" 
      >
      Actualizar mis proyectos
    </a>
    }

      <a [routerLink]="['/', 'new-project', authService.userSignal()?.githubusername]" 
      class="bg-primary hover:bg-primary text-white py-2 px-6 rounded-full cursor-pointer transition-colors duration-300 font-medium" 
      >
      Nuevo Proyecto
    </a>
    </div>
    }

} 