

  <section class="mx-auto max-w-7xl px-4 relative">

    <h1 class="text-3xl font-bold text-primary text-center mb-10">Publicar nuevo Proyecto</h1>


  @if (!selectedRepo()) {
    <app-select-repo (repoSelected)="onRepoSelected($event)"></app-select-repo>
  }
  
  @if (selectedRepo()) {
    <div class="mx-auto my-6 w-full md:max-w-3xl lg:max-w-4xl space-y-4">
      <h2 class="text-xl font-semibold text-gray-800 text-center mt-4"> Paso 2: Revisa los datos de GitHub y completa la información del proyecto</h2>
    </div>
    <app-create-project [repoData]="projectData" (projectCreated)="onProjectCreated()"></app-create-project>
  }


  </section>