<nav class="hidden lg:flex gap-12 items-center">
  <a routerLink="/">
    <img src="/assets/img/ITforEach-logo.svg" alt="ITforEach Logo" class="h-16 w-auto logo-slide-left" />
  </a>
  <a routerLink="/discover">Descubre</a>
  <div>
    @if (user()) {
      <a [routerLink]="['/', 'projects', user()?.githubusername]" class="btn">Mis Proyectos</a>
      <a [routerLink]="['/', user()?.githubusername]" class="btn">Mi Perfil</a>
      <button (click)="logout()" class="btn">Cerrar Sesión</button>
    }
    @else {
      <app-login-button></app-login-button>
    }
  </div>
</nav>
