
    <div class="mx-auto mb-10 w-full md:max-w-3xl lg:max-w-4xl space-y-4">
      <h2 class="text-xl font-semibold text-gray-800 text-center"> Paso 1: Selecciona un repositorio publico de tu GitHub</h2>
      <p class="text-sm text-gray-500 mb-4 text-center">Asegurate de que el repositorio tenga el 'About' completado</p>
      @if (loading()) {
        <p class="text-sm text-gray-500 animate-pulse">Cargando repositorios...</p>
      } @else if (error()) {
        <p class="text-sm text-red-500">{{ error() }}</p>
      } @else {
        <div class="flex flex-col md:flex-row md:items-center md:gap-4 gap-4">
          <select
          class="w-full p-3 mt-1 rounded-lg bg-white text-gray-700 ring-1 ring-gray-300 hover:ring-primary focus:ring-primary focus:outline-none transition cursor-pointer"

            (change)="onRepoSelect(repos()[$any($event.target).selectedIndex - 1])"
          >
            <option disabled selected>Selecciona un repositorio</option>
            @for (repo of repos(); track repo.name) {
              <option>{{ repo.name }}</option>
            }
          </select>
      
          <div class="w-full md:w-auto md:flex-none flex justify-end">
            <button
              (click)="confirmSelection()"
              [disabled]="!selectedRepo()"
              class="bg-primary hover:bg-pink-700 text-white py-2 px-6 rounded-full cursor-pointer transition-colors duration-300 ease-in-out disabled:bg-gray-400 disabled:cursor-default"
            >
              Confirmar
            </button>
          </div>
        </div>
      }
      
      
  </div>
