<nav class=" fixed top-0 left-0 w-full bg-white/80 backdrop-blur-md shadow-md z-40">
  <div class="opacity-0 animate-fade-slide-down px-4 min-h-[64px] container mx-auto flex justify-between items-center gap-12 py-2 relative text-gray-700 text-lg font-medium">
    <div class="flex items-center gap-4 md:gap-6 lg:gap-8">
      <a routerLink="/">
        <img src="/assets/img/ITforEach-logo.svg" alt="ITforEach Logo" class="h-6 w-auto logo-slide-left" width="155px" height="24px" />
      </a>
      <a routerLink="/discover" routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }" 
      class="hover:text-primary transition-colors duration-300">Descubre proyectos</a>
      <a routerLink="/owners"  routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
       class="hover:text-primary transition-colors duration-300">Creadores</a>

    </div>
    <div>
      @if (user()) {
        <div class="flex items-center gap-4 lg:gap-8">
          <a [routerLink]="['/', 'new-project', user()?.githubusername]" 
          class="hidden xl:block hover:bg-primary border-primary border hover:border-white/0 text-primary hover:text-white py-2 px-6 rounded-full cursor-pointer transition-colors duration-300 font-medium text-base flex items-center gap-2" 
          >
          Nuevo Proyecto
        </a>
        <div class="relative group">
          <!-- user y avatar -->
          <a [routerLink]="['/', user()?.githubusername]" class="btn">
          <div class="cursor-pointer flex items-center gap-4">
            <div class="flex items-center gap-1">
              
              <div class="hidden lg:block">
                Menú de Usuario
              </div>
              <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
              </svg>
            </div>
         
            @if (user()?.avatarurl) {
              <app-user-avatar [githubusername]="user()!.githubusername" [size]="48" class="h-12 w-12"></app-user-avatar>
            }
          </div>
        </a>
          <!-- Menú desplegable -->
          <div 
            class="min-w-[240px] font-normal flex flex-col gap-6 shadow-md absolute top-12 right-0 bg-white/95 backdrop-blur-md rounded-lg p-8 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300"
          >
          <a [routerLink]="['/', user()?.githubusername]"  routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }" 
          class=" btn hover:text-primary transition-colors duration-300">Mi Página</a>
          <a [routerLink]="['/', 'edit-profile', user()?.githubusername]"  routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
          class="btn hover:text-primary transition-colors duration-300">Editar Perfil</a>
          <div class="pt-6 border-t border-gray-200 w-full ">
            <a [routerLink]="['/', 'my-projects', user()?.githubusername]"  routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
            class="btn hover:text-primary transition-colors duration-300">Mis Proyectos</a>
          </div>
          <a [routerLink]="['/', 'new-project', user()?.githubusername]"  routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
          class="btn hover:text-primary transition-colors duration-300">Nuevo Proyecto</a>

            <div class="pt-6 border-t border-gray-200 w-full ">
              <app-logout-button></app-logout-button>
            </div>
          </div>
        </div>
        </div>
      }
      @else {
        <div class="bg-gray-700 text-white rounded-full hover:bg-primary">
        <app-login-button></app-login-button>
      </div>
      }
    </div>
  </div>
</nav>