<h2>Mis Proyectos</h2>

<!-- Mostrar mensaje si no hay proyectos -->
@if (userProjects.length === 0) {
  <p>No tienes proyectos creados.</p>
}

<!-- Mostrar lista de proyectos si existen -->

@if (userProjects.length > 0) {
  <ul>
    @for (project of userProjects; track project.id) {
      <li>
        <!-- Título con enlace a project-info -->
        <h3>
          <a [routerLink]="['/', project.githubUsername, project.name]">
            {{ project.name }}
          </a>
        </h3>
        <p>{{ project.description }}</p>
        <app-delete-project-button
          [projectId]="project.id"
          (projectDeleted)="onProjectDeleted($event)">
        </app-delete-project-button>
      </li>
    }
  </ul>
}

