<div>
  <img 
  [src]="user()?.avatarurl" 
  alt="Avatar de {{ user()?.fullname || 'Usuario' }}" 
  width="150" 
  height="150"
/>
  <h1>Perfil de {{ user()?.fullname || 'Usuario' }}</h1>
  <p><strong>GitHub Username:</strong> {{ user()?.githubusername }}</p>
  <p><strong>Email:</strong> {{ user()?.email || 'No disponible' }}</p>
  <p><strong>Biografía:</strong> {{ user()?.bio || 'No disponible' }}</p>
  <p><strong>Enlaces Sociales:</strong></p>
    @if ((user()?.sociallinks ?? []).length > 0) {
      <ul>
        @for (link of user()?.sociallinks; track link) {
          <li>{{ link }}</li>
        }
      </ul>
    } @else {
      <p>No hay enlaces sociales disponibles.</p>
    }
    <p><strong>Sitio Web:</strong> 
      @if (user()?.website) {
        <a [href]="user()?.website" target="_blank">
          {{ user()?.website }}
        </a>
      } @else {
        <span>No disponible</span>
      }
    </p>

  <!-- Mostrar elementos exclusivos para el propietario -->
  @if (authService.isOwnerSignal()) {
    <button (click)="getGitHubUser()">Obtener datos de GitHub</button>
  } 
</div>