<app-back-button text="Volver"></app-back-button>

<footer class="bg-secondary text-white/70 py-4 md:py-5 mt-6">
    <div class="px-4 container mx-auto grid grid-cols-1 md:grid-cols-3 gap-6 text-center md:text-left pt-2 md:pt-4">

     <div class="flex justify-center items-center md:order-2 opacity-70 hover:opacity-100 transition-opacity duration-300">
        <a routerLink="/" class="btn cursor-pointer logo-container">
            <img src="/assets/img/ITforEach-logo-white.svg" alt="ITforEach Logo" class="h-5 md:h-6 w-auto logo-default" />
            <img src="/assets/img/ITforEach-logo-inv.svg" alt="ITforEach Logo Hover" class="h-5 md:h-6 w-auto logo-hover" />
          </a>
     </div>

      <div class="flex flex-col md:flex-row md:justify-start md:items-center gap-2 md:gap-4 font-medium text-lg md:order-1">
        <a routerLink="/about" class="hover:text-primary transition-colors duration-300">Sobre ITforEach</a>
      </div>

      <div class="flex items-center justify-center md:justify-end gap-4 text-sm order-3">
        <a href="mailto:itforeach2025@gmail.com" target="_blank" class="inline-block">
          <button class="w-8 h-8 flex justify-center items-center border-1 border-gray-700 p-1 rounded-full transition duration-300 ease-in-out transform hover:text-white hover:bg-primary hover:border-hidden hover:scale-110 cursor-pointer">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"/>
          <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"/>
        </svg>
      </button>
      </a>
      <a href="https://discord.gg/R6A3PPRNRa" target="_blank" class="inline-block">
        <button class="w-8 h-8 flex justify-center items-center border-1 border-gray-700 p-1 rounded-full transition duration-300 ease-in-out transform hover:text-white hover:bg-primary hover:border-hidden hover:scale-110 cursor-pointer">
          <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M18.942 5.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.586 11.586 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3 17.392 17.392 0 0 0-2.868 11.662 15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.638 10.638 0 0 1-1.706-.83c.143-.106.283-.217.418-.331a11.664 11.664 0 0 0 10.118 0c.137.114.277.225.418.331-.544.328-1.116.606-1.71.832a12.58 12.58 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM8.678 14.813a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.929 1.929 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
          </svg>
          
    </button>
    </a>
      </div>
    </div>
  
    <div class=" container mx-auto mt-6 border-t border-white/20 pt-4 md:pt-6 text-center flex flex-col md:flex-row  gap-3 items-center justify-center">
      <p class="text-sm">
        &copy; 2025 ITforEach. Todos los derechos reservados.
      </p>
      <div class="flex items-center gap-2">
      <img src="/assets/img/ITforEach-isotipo-white.svg" alt="ITforEach isotipo" class="h-5 w-auto opacity-70" >
      <p class="text-sm">
        <span>Creado por</span><a href="https://github.com/basantades/ITforEach" target="_blank" class="font-medium hover:text-primary transition-colors duration-300">
          basantades
        </a>      </p>
      </div>
    </div>
  </footer>