<footer class="bg-secondary  text-white/70 py-6">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-6 text-center md:text-left pt-4">

     <div class="flex justify-center items-center md:order-2 opacity-70 hover:opacity-100 transition-opacity duration-300">
        <a routerLink="/" class="btn cursor-pointer logo-container">
            <img src="/assets/img/ITforEach-logo-white.svg" alt="ITforEach Logo" class="h-6 w-auto logo-default" />
            <img src="/assets/img/ItforEach-logo-inverse.svg" alt="ITforEach Logo Hover" class="h-6 w-auto logo-hover hidden" />
          </a>
     </div>

      <div class="flex flex-col md:flex-row md:justify-start md:items-center gap-4 font-medium text-lg md:order-1">
        <a routerLink="/discover" class="hover:text-primary transition-colors duration-300">Descubre</a>
        <a href="mailto:itforeach2025@gmail.com" class="hover:text-primary transition-colors duration-300">Contacto</a>
      </div>

      <div class="flex mt-4 md:mt-0 items-center justify-center md:justify-end gap-2 text-sm order-3">
        <span>Creado por</span><a href="https://github.com/basantades/ITforEach" target="_blank" class="font-medium hover:text-primary transition-colors duration-300">
          basantades
        </a>
      </div>
    </div>
  
    <div class=" container mx-auto mt-6 border-t border-white/20 pt-6 text-center">
      <p class="text-sm">
        &copy; 2025 ITforEach. Todos los derechos reservados.
      </p>
    </div>
  </footer>