

  <h1 class="text-3xl font-bold text-primary text-center mb-6">Descubre proyectos</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
  @for (project of projects; track project.id; let i = $index) {
    <div class="p-2 opacity-0 animate-fade-zoom" [style.animationDelay]="i * 100 + 'ms'">
      <a [routerLink]="['/', project.githubusername, project.name]">
        <div class="relative group overflow-hidden rounded-lg shadow-md bg-white">
          <img 
            [ngSrc]="projectsService.transformImageUrl(project.main_image_url ?? '', 500) || '/assets/img/default-placeholder.webp'" 
            alt="{{ project.name }}" 
            priority
            width="500" 
            height="281"
            class="w-full h-auto transition-transform duration-300 ease-in-out group-hover:scale-110"
          >
          <div>
            <h2 
            class="absolute text-center break-words text-balance inset-x-0 bottom-4 flex items-center justify-center text-xl font-bold text-white text-shadow-lg z-10"
          >
            {{ project.name }}
          </h2>
          <div class="absolute inset-0 bg-gradient-to-t from-gray-900/80 via-gray-900/20"></div>
          </div>

        </div>
      </a>
      <div class="p-2 flex items-center justify-between">
        <a [routerLink]="['/', project.githubusername]">
          <div class="flex items-center gap-2">
            <app-user-avatar [githubusername]="project.githubusername" class="h-8 w-8"></app-user-avatar>
            <p class="text-gray-500">{{ project.githubusername }}</p>
          </div>
        </a>
        <div class="flex items-center gap-3">
          @if (project.homepage_url) {
            <a [href]="project.homepage_url" target="_blank" class="text-gray-500 hover:text-primary transition-colors duration-300">
              <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
              </svg>
            </a>
          }
          <app-like-button [projectId]="project.id!" ></app-like-button>
        </div>      
      </div>
    </div>
  }
</div>

@if (totalProjects > pageSize) {
<div class="flex justify-center items-center gap-4 my-8">
    <button 
      (click)="prevPage()" 
      [disabled]="page === 1"
      class="px-4 py-2 bg-primary text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed transition hover:bg-primary/80"
    >
      ⬅️ Anterior
    </button>
    <span class="font-semibold">Página {{ page }}</span>
    <button 
      (click)="nextPage()" 
      [disabled]="page * pageSize >= totalProjects"
      class="px-4 py-2 bg-primary text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed transition hover:bg-primary/80"
    >
      Siguiente ➡️
    </button>
</div>
}

