<section class="py-6">
    <h2 class="text-2xl font-bold mb-4 text-center text-gray-600">Últimos proyectos publicados</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 justify-center">
      @for (project of projects(); track project.id; let i = $index) {
        <app-project-card 
          [project]="project" 
          [animationDelay]="i * 100">
        </app-project-card>
      }
    </div>
    <div  class="mt-4">
      <app-more-projects-button></app-more-projects-button>
    </div>
  </section>
  