<section class="mx-auto max-w-7xl px-4 relative">
    <div class="flex justify-center">
      <h1 class="text-2xl md:text-3xl text-center font-bold text-gradient-primary my-6 animate-fade animation-delay-4">Sobre ITforEach</h1>
    </div>
  
    <div class="bg-white shadow rounded-2xl p-6 md:p-10 text-gray-700 space-y-6">
      <p>
        <strong>ITforEach</strong> es una plataforma pensada para que desarrolladores compartan sus proyectos, descubran el trabajo de otros y se conecten con una comunidad activa. Aquí puedes publicar tus desarrollos personales sincronizados con GitHub, explorar proyectos de otros usuarios, ver perfiles y participar en un entorno colaborativo.
      </p>
  
      <p>
        El objetivo principal es fomentar el aprendizaje conjunto, la colaboración y la visibilidad de nuestros trabajos dentro del mundo del desarrollo. Queremos que esta sea una comunidad donde todos aprendamos de todos, ya sea compartiendo código, ideas o simplemente interactuando.
      </p>
  
      <p>
        Mi nombre es <a routerLink="/basantades" class="text-primary hover:underline font-medium">
            Alberto Basanta</a>. Soy el creador de ITforEach y he desarrollado esta aplicación web con Angular como parte del proyecto final del bootcamp de frontend de la <a href="https://www.barcelonactiva.cat/es/itacademy" target="_blank" class="text-primary hover:underline font-medium">
          IT Academy de Barcelona</a>.
          Puedes ver el código en el <a href="https://github.com/basantades/ITforEach" target="_blank" rel="noopener noreferrer" class="text-primary hover:underline font-medium">repositorio de GitHub</a>.

      </p>
  
      <p>
        También hemos creado un servidor de Discord donde puedes unirte para preguntar dudas, proponer ideas o simplemente conocer a otros desarrolladores de una forma más cercana: <a href="https://discord.gg/R6A3PPRNRa" target="_blank" class="text-primary hover:underline font-medium">Unirse al Discord</a>
      </p>
  
      <p>
        Si necesitas contactar directamente conmigo, puedes escribir a: 
        <a href="mailto:itforeach2025@gmail.com" class="text-primary hover:underline font-medium">
          itforeach2025&#64;gmail.com
        </a>
      </p>
    </div>
  </section>
  