<section class="mx-auto max-w-7xl px-4 relative">
  <div class="flex justify-center">
    <h1 class="text-xl sm:text-2xl md:text-3xl text-center font-bold text-gradient-primary my-6 animate-fade animation-delay-2">Editar Proyecto</h1>
  </div>
  
<app-github-project-info [project]="project()" />


    @if (loading()) {
      <app-loading />
    } @else if (error()) {
      <p class="text-center text-red-500">{{ error() }}</p>
    } @else if (project()) {

     <app-project-form 
     [repoData]="project"
     [mode]="'edit'"
     (projectUpdated)="onProjectUpdated()">
   </app-project-form>
    }
  </section>
  