<div class="p-2 opacity-0 animate-fade-zoom" [style.animationDelay]="animationDelay + 'ms'">
    <a [routerLink]="['/', project.githubusername, project.name]"
    aria-label="Ficha del proyecto" title="Ficha del proyecto"
    >
      <div class="relative group overflow-hidden rounded-lg shadow-md bg-white">

        <img 
        [ngSrc]="projectsService.transformImageUrl(project.main_image_url ?? '', 500) || '/assets/img/default-placeholder.webp'" 
        alt="{{ project.name }}" 
        priority
        width="500" 
        height="281"
        class="w-full h-auto transition-transform duration-300 ease-in-out group-hover:scale-110"
      >
        <div>
          <h2 
            class="text-[clamp(0.7rem,1.2rem,1.5rem)] px-1 absolute text-center break-words text-balance inset-x-0 bottom-4 flex items-center justify-center text-xl font-bold text-white text-shadow-lg z-10"
          >
            {{ project.name }}
          </h2>
          <div class="absolute inset-0 bg-gradient-to-t from-gray-900/80 via-gray-900/20"></div>
        </div>
      </div>
    </a>
    <div class="p-2 flex items-center justify-between">
      <div class="flex items-center gap-2 transition-colors duration-300">
        <app-github-link-icon [url]="project.repository_url"></app-github-link-icon>
        <app-website-link-icon [url]="project.homepage_url"></app-website-link-icon>
      </div>

      <div>
        <app-like-button [projectId]="project.id!" ></app-like-button>
      </div>
    </div>
  </div>
  