
    @if (project) {
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-start">
          <h1 class="text-3xl font-bold text-gradient-primary my-6 break-words text-balance">{{ project.name }}</h1>
          </div>

    
        <div class="flex flex-col lg:flex-row items-stretch gap-8">
          
          <!-- Columna Izquierda -->
          <div class="lg:w-1/2 flex flex-col items-center lg:items-start gap-4">
            <img 
              [ngSrc]="project.main_image_url || '/assets/img/default-placeholder-full.webp'"  
              alt="{{ project.name }}"
              priority 
              width="1024" 
              height="596" 
              class="w-full rounded"
            />
    
            <!-- Iconos -->
            <div class="flex w-full justify-end lg:justify-start items-center gap-4">
              @if (project.repository_url) {
                <a [href]="project.repository_url" target="_blank" class="text-gray-500 hover:text-primary transition-colors duration-300">
                  <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
                  </svg>
                  
                </a>
              }
              @if (project.homepage_url) {
                <a [href]="project.homepage_url" target="_blank" class="text-gray-500 hover:text-primary transition-colors duration-300">
                  <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                  </svg>
                  
                </a>
              }
              <div class="min-w-10">
                <app-like-button 
                  [projectId]="project.id!" 
                  [class.disabled]="!user()" 
                  class="scale-125"
                ></app-like-button>
              </div>
            </div>
          </div>
    
          <!-- Columna Derecha -->
          <div class="lg:w-1/2 flex flex-col justify-between">
                <div class="flex flex-col gap-4 flex-grow">
                  <div class="flex justify-start items-center gap-4 border-b border-gray-300 pb-4">
                <a [routerLink]="['/', project.githubusername]" class="flex items-center gap-4">
                  <app-user-avatar 
                    [githubusername]="project.githubusername" 
                    class="h-10 w-10 sm:h-14 sm:w-14"
                  ></app-user-avatar>
                  <span class="text-xl font-medium hover:text-primary transition-colors duration-300 animate-fade">
                    {{ project.githubusername }}
                  </span>
                </a>
              </div>
    
              <!-- Info del Proyecto -->
              <div class="flex flex-col gap-2 mt-2">
    
                <!-- Topics -->
                @if (project.topics?.length) {
                  <div class="flex flex-wrap gap-2 mb-4">
                    @for (topic of project.topics; track topic) {
                      <span class="px-3 py-1 bg-gray-200 text-gray-800 rounded-full text-sm">
                        {{ topic }}
                      </span>
                    }
                  </div>
                }
                <p class="text-lg text-primary text-justify font-semibold">
                  {{ project.name }}
                </p>
                @if (project.description) {
                  <p class="text-lg text-gray-700 text-justify font-medium">
                    {{ project.description }}
                  </p>
                }
                    @if (project.about_project) {
                  <div>
                    <h2 class="text-lg font-medium text-gray-800 mb-4">Acerca del proyecto</h2>
                    <p class="text-gray-700">{{ project.about_project }}</p>
                  </div>
                }
    
                <!-- Status -->

                <div class="my-6 flex flex-col items-end gap-2">
                  <div class="mb-2 textgray-600">
                      <p>Estado del proyecto: 
                        <span  class="font-medium">
                      @if (project.status === 'in_progress') {
                        En progreso
                      } @else if (project.status === 'testing') {
                        En pruebas
                      } @else if (project.status === 'completed') {
                        Publicado
                      } @else if (project.status === 'paused') {
                        Pausado
                      } @else if (project.status === 'undefined') {
                        Indefinido
                      }</span>
                    </p>
                    </div>
                    <div class="w-full">
                      <div class="w-full h-3 bg-gray-300 rounded-full overflow-hidden">
                        <div class="h-full bg-gray-500 rounded-full transition-all duration-1000 ease-out"
                          [style.width.%]="
                          project.status === 'undefined' ? 0 :
                            project.status === 'completed' ? 98 :
                            project.status === 'testing' ? 85 :
                            
                            60
                          ">
                        </div>
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
    
            <!-- Botones al fondo -->
            <div class="flex flex-col md:flex-row gap-4 justify-center md:justify-end mt-8">
              @if (project.repository_url) {
                <a [href]="project.repository_url" target="_blank" class="bg-secondary hover:bg-gray-700 text-white py-2 px-6 rounded-full text-center transition-colors duration-300">
                  Ver repositorio de GitHub
                </a>
              }
              @if (project.homepage_url) {
                <a [href]="project.homepage_url" target="_blank" class="bg-primary hover:bg-primary text-white py-2 px-6 rounded-full text-center transition-colors duration-300">
                  Ir a la web del proyecto
                </a>
              }
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <p class="text-center text-gray-500">Cargando proyecto...</p>
      </div>
    }
    