<section class="mx-auto max-w-7xl px-2 md:px-4 relative">
  <div class="flex justify-center">
    <h1 class="text-xl sm:text-2xl md:text-3xl text-center font-bold text-gradient-primary my-6 animate-fade animation-delay-2">Editar Perfil</h1>
    </div>

  <div>
    <p class="text-sm text-gray-500 text-center mb-4 mx-auto w-full sm:w-xl md:w-2xl mb-6">
      *Nota: tu imagen y usuario provienen de GitHub. <br>
      Si deseas cambiar tu imagen, debes hacerlo desde tu cuenta de GitHub y volver a iniciar sesión en ITforEach para que se actualice automáticamente.
    </p>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="mx-auto my-6 w-full md:w-3xl lg:w-4xl">
    <div class="mb-4">
      <label class="block text-gray-700 font-semibold">Nombre</label>
      <input type="text" formControlName="fullname" placeholder="Tu nombre"
        class="w-full p-3 mt-1 rounded-lg bg-white text-gray-700 ring-1 ring-gray-300 hover:ring-primary focus:ring-primary focus:outline-none transition" /> 
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-semibold">Website</label>
      <input type="text" formControlName="website" placeholder="https://tusitio.com"
        class="w-full p-3 mt-1 rounded-lg bg-white text-gray-700 ring-1 ring-gray-300 hover:ring-primary focus:ring-primary focus:outline-none transition" />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-semibold">Sobre mi</label>
      <textarea formControlName="bio" rows="4" placeholder="¿Qué te gustaría que otros supieran sobre ti?"
        class="w-full min-h-40 p-3 mt-1 rounded-lg bg-white text-gray-700 ring-1 ring-gray-300 hover:ring-primary focus:ring-primary focus:outline-none transition field-sizing-content"></textarea>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-semibold">Linkedin  (URL completa)</label>
      <input type="text" formControlName="linkedin"  placeholder="https://www.linkedin.com/in/tu-usuario"
        class="w-full p-3 mt-1 rounded-lg bg-white text-gray-700 ring-1 ring-gray-300 hover:ring-primary focus:ring-primary focus:outline-none transition" />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-semibold">Email</label>
      <input type="email" formControlName="email" placeholder="ejemplo@correo.com"
        class="w-full p-3 mt-1 rounded-lg bg-white text-gray-700 ring-1 ring-gray-300 hover:ring-primary focus:ring-primary focus:outline-none transition" />
        @if (profileForm.get('email')?.invalid && profileForm.get('email')?.touched) {
          <p class="text-red-500 text-sm mt-1">Debe ser un email valido o dejar en blanco</p>
        }
    </div>

    <div class="mt-6 flex justify-end gap-2">
      <button
        type="submit"
        [disabled]="profileForm.invalid"
        class="w-full sm:w-auto bg-primary hover:bg-primary text-white py-2 px-6 rounded-full cursor-pointer transition-colors duration-300 ease-in-out disabled:bg-gray-400 disabled:cursor-default">
        Guardar
      </button>
    </div>
  </form>

  <app-danger-zone />
</section>
