// @charset "UTF-8";
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
// @use 'ngx-toastr/toastr';


@use 'ngx-toastr/toastr';
@use  "tailwindcss";


@layer base {
    :root {
      --color-primary: #E6007E;
      --color-secondary: #1F1F1F;
    }
  }
  
  @layer utilities {
    .text-primary {
      color: var(--color-primary);
    }
    .bg-primary {
      background-color: var(--color-primary);
    }
    .bg-primary-10 {
      background-color: rgba(230, 0, 126, 0.1);
    }
    .bg-secondary {
      background-color: var(--color-secondary);
    }
    .text-secondary {
      color: var(--color-secondary);
    }
    .border-primary {
      border-color: var(--color-primary);
    }
    .hover\:text-primary:hover {
      color: var(--color-primary);
    }
    .hover\:bg-primary:hover {
      background-color: var(--color-primary);
    }
    .hover\:border-primary:hover {
      border-color: var(--color-primary);
    }
    .hover\:ring-primary:hover {
      box-shadow: 0 0 0 1px var(--color-primary);
    }
    .focus\:ring-primary:focus {
      box-shadow: 0 0 0 1px var(--color-primary);
    }

        // animations
    
    @keyframes fadeSlideDown {
      0% {
        opacity: 0;
        transform: translateY(-40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes fadeZoom {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    .animate-fade-slide-down {
      animation: fadeSlideDown 0.8s ease-out forwards;
    }
  
    .animate-fade-zoom {
      animation: fadeZoom 0.8s ease-out forwards;
    }
    .animate-fade {
      animation: fade 0.8s ease-out forwards;
    }
    .animation-delay-2 {
      animation-delay: 0.2s;
    }
  }
  

 