// @charset "UTF-8";
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
// @use 'ngx-toastr/toastr';


@use 'ngx-toastr/toastr';
@use  "tailwindcss";


@layer base {
    :root {
      --color-primary: #E6007E;
      --color-secondary: #1F1F1F;
      --gradient-primary: linear-gradient(15deg, #7744B3 0%, #E6007E 75%);
      --gradient-primary-hover: linear-gradient(195deg, #7744B3 0%, #E6007E 75%);
      --gradient-disable: linear-gradient(15deg, #8a8a8a 0%, #b8b8b8 75%);

    }
  }
  
  @layer utilities {

    .text-primary {
      color: var(--color-primary);
    }
    .bg-primary {
      background: var(--gradient-primary);

      // background-color: var(--color-primary);
    }
    .bg-primary-10 {
      background-color: rgba(230, 0, 126, 0.1);
    }
    .bg-secondary {
      background-color: var(--color-secondary);
    }
    .text-secondary {
      color: var(--color-secondary);
    }
    .border-primary {
      border-color: var(--color-primary);
    }
    .hover\:text-primary:hover {
      
      color: var(--color-primary);
    }
    .text-gradient-primary {
      background: var(--gradient-primary-hover);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
    .hover\:bg-primary:hover {
      background: var(--gradient-primary-hover);

      // background-color: var(--color-primary);
    }
    .disabled\:bg-primary:disabled {
      background: var(--gradient-disable);
    }
    .hover\:border-primary:hover {
      border-color: var(--color-primary);
    }
    .hover\:ring-primary:hover {
      box-shadow: 0 0 0 1px var(--color-primary);
    }
    .focus\:ring-primary:focus {
      box-shadow: 0 0 0 1px var(--color-primary);
    }

        // animations
    
    @keyframes fadeSlideDown {
      0% {
        opacity: 0;
        transform: translateY(-40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes fadeZoom {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    .animate-fade-slide-down {
      animation: fadeSlideDown 0.8s ease-out forwards;
    }
  
    .animate-fade-zoom {
      animation: fadeZoom 0.8s ease-out forwards;
    }
    .animate-fade {
      animation: fade 1.2s ease-out forwards;
    }
    .animation-delay-2 {
      opacity: 0;
      animation-delay: 0.2s;
    }
    .animation-delay-4 {
      opacity: 0;
      animation-delay: 0.4s;
    }
  }
  

 