
  <section class="mx-auto max-w-7xl px-4 relative">

    <div class="flex justify-center">
      <h1 class="text-xl sm:text-2xl md:text-3xl text-center font-bold text-gradient-primary my-6 animate-fade animation-delay-2">Publicar nuevo Proyecto</h1>
      </div>

  @if (!selectedRepo()) {
    <app-select-repo (repoSelected)="onRepoSelected($event)"></app-select-repo>
  }
  
  @if (selectedRepo()) {
    <div class="mx-auto my-6 w-full md:max-w-3xl lg:max-w-4xl space-y-4">
      <h2 class="text-xl font-semibold text-gray-800 text-center mt-4"> Paso 2: Revisa los datos de GitHub y completa la información del proyecto</h2>
    </div>
    <app-github-project-info [project]="project()" />

    <app-project-form 
    [repoData]="project" 
    [mode]="'create'" 
    (projectSaved)="onProjectCreated()" />
  }


  </section>