<div class="p-2 opacity-0 animate-fade-zoom  w-full max-w-[500px]" [style.animationDelay]="animationDelay + 'ms'">
    <a [routerLink]="['/', project.githubusername, project.name]"
    aria-label="Ficha del proyecto" title="Ficha del proyecto"
    >
      <div class="relative group overflow-hidden rounded-lg shadow-md bg-white">

        <img 
        [ngSrc]="projectsService.transformImageUrl(project.main_image_url ?? '', 500) || '/assets/img/default-placeholder.webp'" 
        alt="Imagen principal del proyecto:{{ project.name }}" 
        priority
        width="500" 
        height="281"
        class="w-full h-auto transition-transform duration-300 ease-in-out group-hover:scale-110"
      >
        <div>
          <h2 
            class="text-[clamp(0.7rem,1.2rem,1.5rem)] px-1 absolute text-center break-words text-balance inset-x-0 bottom-4 flex items-center justify-center text-xl font-bold text-white text-shadow-lg z-10"
          >
            {{ project.name }}
          </h2>
          <div class="absolute inset-0 bg-gradient-to-t from-gray-900/50 via-gray-900/20"></div>
        </div>
      </div>
    </a>
    <div class="p-2 flex items-center justify-between">
      <a [routerLink]="['/', project.githubusername]"
      aria-label="Ir a la página del autor" title="Ir a la página del autor"
      >
        <div class="flex items-center gap-2">
          <app-user-avatar [githubusername]="project.githubusername" [size]="32" class="h-8 w-8"></app-user-avatar>
          <p class="text-gray-500">{{ project.githubusername }}</p>
        </div>
      </a>
      <div class="flex items-center gap-3">
        <app-website-link-icon [url]="project.homepage_url"></app-website-link-icon>
        <app-like-button [projectId]="project.id!" ></app-like-button>
      </div>
    </div>
  </div>
  